{% extends 'base.html' %}
{% block content %}
<div class="loginOutBox">
    <div class="loginInBox">
        <div class="searchBox">
            <form id="searchForm" method="post" action="{% url 'searchFriend' %}">
               {% csrf_token %}
                <input type="text" id="search_kw" name="q" value="{{q}}" placeholder="ID로 검색하여 친구 추가하기" style="width:350px; height:42px; text-align:center;">
                <button type="submit" class="btnFriend" id="btn_search" name="searchFriend">SEARCH</button>
            </form>
        </div>
        <div class="friendlist">
            {% if not friendlist %}
                <h4> 친구가 없습니다. </h4>
            {% else %}
                <h1> {{user.userName}}님의 친구 목록</h1>
                {% for friend in friendlist.all %}
                    <a href="{{friend.userFriend}}"><p>{{friend.userFriend}}</p></a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

<br>
{% endblock %}