{% extends "base.html" %}
{% block content %}
<div class="loginOutBox">
    <div class="loginInBox">
        <div class="box">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {% include "form_errors.html" %}
                <div class="login">
                    <label for="userId">사용자ID</label>
                    <input type="text" class="form-control" name="userId" id="userId"
                           value="{{ form.userId.value|default_if_none:'' }}">
                </div>
                <div class="login">
                    <label for="password">비밀번호</label>
                    <input type="password" class="form-control" name="password" id="password"
                           value="{{ form.password.value|default_if_none:'' }}">
                </div>
                <button type="submit" class="btn btn-primary">로그인</button>
            </form>
        </div>
        
    </div>
</div>
{% endblock %}