{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}
<div class="loginOutBox">
    <div class="loginInBox">
        <div class="middleBox">
            <div class="bg" style="float:left;">
                <img src="/static/doctor.png" width="550" height="620">
            </div>
            <div class ="mybox" style="float:right;">
                <a href="pybo/mypill"><p>My Pill</p></a>
                <a href="pybo/friend"><p>Friend</p></a>
                <a href="pybo/pillinfo"><p>Pill info</p></a>
            </div>
        </div>
    </div>
</div>

{% else %}

{% endif %}

{% endblock %}