@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;500&display=swap');
* {
    font-family: 'Gothic A1', sans-serif;
    margin: 0;
    padding: 0;
    font-size : 20px;
    text-decoration-line: none;
}

body {
  background-color: #6667ab;

}

a{
    color: white;
    text-decoration: none;
}


ul {
    text-decoration: none;
    list-style: none;
    color: white;
}

#nav2 {
    margin-top : 35px;
    color: white;
    text-decoration: none;
}

#nav2>a {
    display: block;
    float: left;
    font-size: 30px;
    font-weight: 900;
    line-height: 80px;
    padding: 0 30px;
    color: white;
    text-decoration: none;
}

#nav2>ul {
    float: right;
    color: white;
    text-decoration: none;

}

#nav2>ul li {
    float: left;
    padding: 0 30px;
    line-height: 80px;
    color: white;
    text-decoration: none;

}
#nav a {
    text-decoration: none;
}

h2 {
    font-size : 70px;
}

.btnFriend {
    width:100px;
    background-color: #9B59B6;
    border:none;
    color: #ffffff;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px;
    cursor: pointer;
    border-radius: 15px 15px 15px 15px;
}
.loginOutBox {
   height: 100vh;
   display: table;
   width : 100%;
   color: black;

}

.loginInBox {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.box {
    background-color: #bdbff0;
    width: 400px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 40px 40px 40px 40px;
}

.searchBox {
    background-color: #bdbff0;
    width: 100%;
    text-align: center;
    height: 150px;
    line-height: 150px;
}
.bg {
    margin-top : 150px;
    margin-left: 100px;
}
.middleBox {
    text-align: center;
}
.mybox {
    background-color: #bdbff0;
    width: 400px;
    height: 900px;
    margin: 0 auto;
    border-radius: 120px 0px 0px 120px;
}
.mybox p {
    color: #5c29b9;
    font-size: 75px;
    margin-bottom: 65px;
}

.login {
    color: black;
}

.friendlist {
    margin-top: 50px;
    color: white;
    text-align : center;
}